
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 100vh; /* Full viewport height */
    padding: 20px; /* Add padding */
    text-align: center; /* Center text */
  }
  
  .heading {
    margin: 0; /* Remove default margin */
  }
  
  
  
  .posts {
    margin-bottom: 20px;
  }
  
  .post {
    margin-bottom: 20px;
  }
  
  .tweet, .article {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
  }
  
  .tweet p, .article h2 {
    margin: 0;
  }
  
  .tweet small, .article small {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
  }
  
  .addButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #005bb5;
  }
  
  .nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .nav a {
    text-decoration: none;
    color: #0070f3;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  