/* Videos.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.nav {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.videoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.videoContainer {
    position: relative;
}

.video {
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
}

.videoDescription {
    margin-top: 5px;
    font-size: 14px;
}

.addVideoContainer {
    margin-top: 20px; /* Videos yazısının altına doğru yerleştirmek için */
    display: flex;
    justify-content: center;
    width: 100%;
}

.addButton {
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #0070f3;
    background-color: white;
    color: #0070f3;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.addButton:hover {
    background-color: #0070f3;
    color: white;
}
